//- index.pug
doctype html
html
  head
    style
      include ../static/style.css
  body
    nav#navbar
     ul
        div#logo
          img(src="static/bg.jpg")
          |  SDA
        li #[a(href="/") home]
        li #[a(href="/") about]
        li #[a(href="/") service]
        li #[a(href="/") contact]
    section#intro
      div Saloni's Dance Academy
      div.img Love to Dance
    section#mission
      h3 our mission
      div.card
        h3 Single
           div.card-box
             div.card-img
               img(src="static/img/card1.png")
             div.card-content
                     | Dance is an art and dancers are the artist
      div.card
       h3 Duo
         div.card-box
             div.card-img
               img(src="static/img/card2.png")
             div.card-content
                     | Dance is an art and dancers are the artist
      div.card
       h3 Group
         div.card-box
             div.card-img
               img(src="static/img/card3.jpg")
             div.card-content
                    | Dance is an art and dancers are the artist
    section#sponsers
      h3 our sponsors
        div.sponsors-img
          img(src="static/img/logo1.png")
          img(src="static/img/logo2.png")
          img(src="static/img/logo3.png")
          img(src="static/img/logo4.png")
           
    footer#footer
      |copyright @ 2020 Saloni's dance academy.All rights reserved
    script
      include ../static/index.js